body {
  width: 100%;
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  margin-top: 1%;
}

button {
  margin-top: 3%;
}

h1 {
  color: #b80024;
}

h1.head {
  color: green;
}

h2 {
  color: #265cab;
}

footer {
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  margin-top: 20%;
}

.col-sm-5 {
  margin-left: 30%;
}

div.intro-form {
  margin-top: 8%;
  display: none;
}

div.developer-form {
  margin-top: 8%;
  display: none;
}

div.designer-form {
  margin-top: 8%;
  display: none;
}

div.develop-form {
  margin-top: 8%;
  display: none;
}

div.micro-form {
  margin-top: 8%;
  display: none;
}

div.user-form {
  margin-top: 8%;
  display: none;
}

.jumbotron {
  background-color: #265cab;
  box-shadow: 5px 5px 5px black;
}

.jumbotron h1 {
  color: white;
  text-shadow: 5px 5px 15px black;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#inputName {
  text-align: center;
}

#output {
  color: #cc0000;
  font-size: 3em;
  margin-top: 2%;
  display: none;
}

#output2 {
  color: #cc0000;
  font-size: 3em;
  margin-top: 2%;
  display: none;
}

#output3 {
  color: #cc0000;
  font-size: 3em;
  margin-top: 2%;
  display: none;
}

#output4 {
  color: #cc0000;
  font-size: 3em;
  margin-top: 2%;
  display: none;
}

#output5 {
  color: #cc0000;
  font-size: 3em;
  margin-top: 2%;
  display: none;
}

#output6 {
  color: #cc0000;
  font-size: 3em;
  margin-top: 2%;
  display: none;
}
