body {
  width: 100%;
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  margin-top: 1%;
}

button {
  margin-top: 3%;
}

h1 {
  color: #b80024;
}

h2 {
  color: #265cab;
}

footer {
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  margin-top: 20%;
}

.col-sm-5 {
  margin-left: 30%;
}

div.radio {
  margin-top: 8%;
}

.hide {
  display: none;
}

.jumbotron {
  background-color: #265cab;
  box-shadow: 5px 5px 5px black;
}

.jumbotron h1 {
  color: white;
  text-shadow: 5px 5px 15px black;
}

.show {
  display: block;
}

#design {
  display: none;
}

#inputEmail {
  text-align: center;
}

#inputName {
  text-align: center;
}

#java {
  display: none;
}

#php {
  display: none;
}
