body {
  background-image: url("../img/epicodus.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left-top;
  width: 100%;
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  margin-top: 1%;
}

button {
  margin-top: 3%;
}

h1 {
  font-size: 2em;
  text-shadow: 8px 10px 10px black;
  color: black;
}

a:hover{
  color: black;
  text-decoration: none;
}

h2 {
  font-size: 1.8em;
  text-shadow: 3px 10px 10px black;
  color: black;
}

footer {
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  margin-top: 20%;
}

span {
  display: block;
}

.col-sm-5 {
  margin-left: 30%;
}

.hide {
  display: none;
}

.jumbotron {
  width: 50%;
  margin-left: 25%;
  box-shadow: 5px 5px 5px grey;
  border-radius: 70%;
  opacity: 0.7;
}

.jumbotron h1 {
  font-family: 'Orbitron', sans-serif;
  font-color: black;
  text-shadow: 5px 5px 15px black;
}

.radio {
  width: 20%;
  margin-top: 8%;
  margin-left: 41%;
}

.show {
  display: block;
}

.wrapper {
  background-color: white;
}

#design {
  font-size: 2.5em;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 3px 10px 10px black;
  margin-top: 5%;
  display: none;
}

#inputEmail {
  text-align: center;
}

#inputName {
  text-align: center;
}

#java {
  font-size: 2.5em;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 3px 10px 10px black;
  margin-top: 5%;
  display: none;
}

#php {
  font-size: 2.5em;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 3px 10px 10px black;
  margin-top: 5%;
  display: none;
}
